*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6F8F9;
    font-family: 'Poppins', sans-serif;
}
#logo-box{
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    padding:10px;
 }
#logo-img{
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
#logo-title{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
    font-weight: bold;
}
#box-1{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    background-color: #ffffff;
    padding: 10px 80px;
}


button{
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #848C91;
    background-color: #ffffff;
    color:#848C91;
    vertical-align: middle;
    text-align: center;
}
button:hover{
    background-color: #47ADF1;
    color: #ffffff;
}
#box-2{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
.box-list{
    margin: 30px 80px;
}

h3{
    font-weight: bold;
    font-size: 25px;
}
.bullet{
    display: inline-block;
    font-size: 15px;
    height:30px;
    margin: 2px;
    }
li{
    list-style-type: none;
} 
#done{
    display: inline-block;
    color: #64C0A9;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border: 2px solid #64C0A9; 
    background-color: transparent;
    margin: 6px;
}
#undone{
    display: inline-block;
    color: #EB342D;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border: 2px solid #EB342D; 
    background-color: transparent;
    margin: 6px;
}
.badge{
    display: inline-block;
    border-radius: 10px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: 6px; 
    padding: 6px; 
    color: #ffffff;  
    font-size: 14px;
}
#badge1{
    background-color:#45ABEA;
}
#badge2{
    background-color: #9C72E4;
}
#badge3{
    background-color: #64C0A9;
}
#badge4{
    background-color: #F29E33;
}
#badge5{
    background-color: #D863A1;
}
#badge6{
    background-color: #B0C926;
}
