*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F6F8F9;
}
#logo-box{
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    padding:10px;
 }
#logo-img{
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}
#logo-title{
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
    font-weight: bold;
}
#box-1{
    height: 60px;
    margin: 20px 80px;
    background-color: #ffffff;
    padding: 10px;
}
#box-2{
    height: 500px;
    margin: 20px 80px;
    background-color: #ffffff;
    padding: 20px;
}
button{
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #848C91;
    background-color: #ffffff;
    color:#848C91;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
}
button:hover{
    background-color: #47ADF1;
    color: #ffffff;
}
.list-1{
    font-weight: bold;
}
li{
    list-style-type: none;
}
.badge{
    display: inline-block;
    border-radius: 4px;

}
#badge1{
    background-color:#45ABEA;
}